<h4 class="ui dividing header">Experiência Empresarial</h4>

<div class="field">
  <label>Quantos negócios você já montou?</label>
  <input type="text" name="numberOfBusiness" placeholder="Quantos negócios você já montou?" ng-model="data.experience.numberOfBusiness">
</div>

<div class="field">
  <label>Quantos negócios você possui (outros negócios além deste)?</label>
  <input type="text" name="numberOfOtherBusiness" placeholder="Quantos negócios você possui (outros negócios além deste)?" ng-model="data.experience.numberOfOtherBusiness">
</div>

<div class="field">
  <label>Há quanto tempo você empreende?</label>
  <input type="text" name="entrepreneurshipTime" placeholder="Há quanto tempo você empreende?" ng-model="data.experience.entrepreneurshipTime">
</div>

<div class="field">
  <label>Há quanto tempo você empreende no negócio atual?</label>
  <input type="text" name="entrepreneurshipTimeCurrentBusiness" placeholder="Há quanto tempo você empreende no negócio atual?" ng-model="data.experience.entrepreneurshipTimeCurrentBusiness">
</div>

<div class="field">
  <label>Você realizou cursos diretamente relacionados aos produtos ou serviços que produz/comercializa?</label>
  <select class="ui fluid dropdown" ng-model="data.experience.courses.services">
    <option value="none">Nenhuma das Opções</option>
    <option value="technician">Técnico</option>
    <option value="graduate">Superior</option>
    <option value="postgraduate">Pós Graduação</option>
    <option value="master">Mestrado</option>
    <option value="doctorate">Doutorado</option>
  </select>
</div>

<div class="field">
  <label>Você realizou cursos relacionados à gestão empresarial?</label>
  <select class="ui fluid dropdown" ng-model="data.experience.courses.management">
    <option value="none">Nenhuma das Opções</option>
    <option value="technician">Técnico</option>
    <option value="graduate">Superior</option>
    <option value="postgraduate">Pós Graduação</option>
    <option value="master">Mestrado</option>
    <option value="doctorate">Doutorado</option>
  </select>
</div>

<div class="field">
  <label>Você realizou cursos não relacionados ao empreendimento?</label>
  <select class="ui fluid dropdown" ng-model="data.experience.courses.entrepreneurship">
    <option value="none">Nenhuma das Opções</option>
    <option value="technician">Técnico</option>
    <option value="graduate">Superior</option>
    <option value="postgraduate">Pós Graduação</option>
    <option value="master">Mestrado</option>
    <option value="doctorate">Doutorado</option>
  </select>
</div> 

<div class="field">
  <label>O que você pensa em fazer com seu negócio em alguns anos?</label>
  <select class="ui fluid dropdown" ng-model="data.experience.futureExpectation">
    <option value="1">1. Pretendo fechar/passar o ponto e me aposentar.</option>
    <option value="2">2. Pretendo fechar/passar o ponto e mudar de ramo.</option>
    <option value="3">3. Pretendo manter o negócio.</option>
    <option value="4">4. Pretendo manter ou até melhorar o negócio.</option>
  </select>
</div>