<h4 class="ui dividing header">Dados da Empresa</h4>
<div class="two fields">
  <div class="field">
    <label>CNPJ</label>
    <input type="text" name="cnpj" placeholder="CNPJ" class="mask cnpj" ng-model="data.company.cnpj">
  </div>
  <div class="field">
    <label>Razão Social</label>
    <input type="text" name="name" placeholder="Razão Social" ng-model="data.company.name" capitalize>
  </div>
</div>

<div class="two fields">
  <div class="four wide field">
    <label>N. de Empregados</label>
    <input type="text" name="numberOfEmployees" placeholder="N. de Empregados" ng-model="data.company.numberOfEmployees">
  </div>
  <div class="twelve wide field">
    <label>Descrição da Atividade Econômica Principal</label>
    <input type="text" name="mainActivity" placeholder="Descrição da Atividade Econômica Principal" ng-model="data.company.mainActivity">
  </div>
</div>

<div class="two fields">
  <div class="field">
    <label>Tipo de Empresa</label>
    <select class="ui fluid dropdown" name="type" ng-model="data.company.type">
      <option value="MEI">Microempreendedor Individual – MEI</option>
      <option value="ME">Microempresa – ME</option>
    </select>
  </div>
  <div class="field">
    <label>Segmento</label>
    <select class="ui fluid dropdown" name="segment" ng-model="data.company.segment">
      <option value="commerce">Comércio</option>
      <option value="industry">Indústria</option>
      <option value="service">Serviço</option>
      <option value="agrobusiness">Agronegócio</option>
    </select>
  </div>
</div>

<div class="two fields">
  <div class="field">
    <label>Cidade</label>
    <select class="ui search dropdown" name="city" ng-model="data.company.city">
      <option ng-repeat="city in cities" value="{{city.key}}">{{city.name}}</option>
    </select>
  </div>
  <div class="field">
    <label>Data de Abertura</label>
    <input type="text" name="openingDate" placeholder="Data de Abertura" class="mask date" ng-model="data.company.openingDate">
  </div>
</div>