<h4 class="ui dividing header">Finanças</h4>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 1 - Atualização do Fluxo de Caixa.</h4>
  <div class="field">
    <label>Pergunta: a) Você controla as entradas e saídas diárias de dinheiro? (Diário de Caixa).</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.finance.question1a.agent">
          <option value="1">1. Não. Apenas vejo quanto tenho de dinheiro no final do dia.</option>
          <option value="2">2. Tenho um controle informal das entradas e saídas de dinheiro.</option>
          <option value="3">3. Sim, possuo um controle formalizado e detalhado das entradas e saídas de dinheiro.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.finance.question1a.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label>Pergunta: b) Você possui um controle de entradas, saídas e saldo de dinheiro para os meses futuros? (Controle do Fluxo de Caixa)</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.finance.question1b.agent">
          <option value="1">1. Não tenho este controle.</option>
          <option value="2">2. Tenho um controle não formalizado e/ou que não prevê como estará o saldo no futuro.</option>
          <option value="3">3. Sim, possuo planilhas para controlar o Fluxo de Caixa e visualizo ao longo do tempo quando terei falta ou sobra de dinheiro.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.finance.question1b.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 2 – Capital de Giro.</h4>
  <div class="field">
    <label>Pergunta: a) Você sabe quanto dinheiro deve ter em caixa para cobrir suas despesas enquanto não recebe os pagamentos? (Controle do Capital de Giro).</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.finance.question2a.agent">
          <option value="1">1. Não faço este cálculo regularmente.</option>
          <option value="2">2. Tenho noção de quais são minhas despesas, mas não sei quanto dinheiro preciso ter em caixa.</option>
          <option value="3">3. Sim, calculo qual o valor que a empresa precisa ter em caixa para que não precise pedir dinheiro emprestado.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.finance.question2a.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 3 – Impostos</h4>
  <div class="field">
    <label>Pergunta: a) Você controla as datas e valores de todos os tributos a serem pagos? (Impostos e também Taxas) (Controle do Pagamento de Tributos).</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.finance.question3a.agent">
          <option value="1">1. Não, não tenho controle sobre o pagamento de tributos.</option>
          <option value="2">2. Sei quando devem ser pagos alguns tributos, mas não tenho controle sobre quando cada um deve ser pago.</option>
          <option value="3">3. Sim, possuo controle formal e registro de quando cada tributo deve ser pago, assim como registro os pagamentos.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.finance.question3a.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 4 – Cálculo do Custo</h4>
  <div class="field">
    <label>Pergunta: a) Você calcula os gastos (custos e despesas) mensalmente? (Demonstrativo de Resultados).</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.finance.question4a.agent">
          <option value="1">1. Não, não sei quais são os custos da empresa.</option>
          <option value="2">2. Tenho noção de qual é o valor dos custos e despesas mensais da empresa, mas não tenho um controle preciso.</option>
          <option value="3">3. Sim, registro qual o valor dos custos e despesas mensalmente, sabendo quanto foi o desembolso no período.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.finance.question4a.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 5 – Cálculo do Lucro</h4>
  <div class="field">
    <label>Pergunta: a) Você calcula o resultado (lucro ou prejuízo) do seu negócio periodicamente? (Demonstrativo de Resultado)</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.finance.question5a.agent">
          <option value="1">1. Não, não sei qual foi o resultado da empresa no período.</option>
          <option value="2">2. Tenho uma noção de qual é o resultado da empresa em determinado tempo.</option>
          <option value="3">3. Sim, calculo o resultado da minha empresa relacionando os meus custos e despesas com a receita (faturamento).</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.finance.question5a.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 6 – Preço de Venda</h4>
  <div class="field">
    <label>Pergunta: a) Você sabe qual é o seu ganho de dinheiro em cada produto vendido ou serviço vendido? (Cálculo do Ganho Unitário)</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.finance.question6a.agent">
          <option value="1">1. Não, não sei qual é o meu ganho naquilo que vendo.</option>
          <option value="2">2. Tenho um conhecimento aproximado sobre o ganho que cada produto/serviço traz.</option>
          <option value="3">3. Sim, calculo periodicamente o ganho de cada produto / serviço.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.finance.question6a.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 7 – Estoque e Suprimentos</h4>
  <div class="field">
    <label>Pergunta: a) Você tem um controle do estoque dos produtos e insumos? (Incluindo datas de validade, quantidade, etc.) (Gestão de Estoques)</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.finance.question7a.agent">
          <option value="1">1. Não, não tenho este controle.</option>
          <option value="2">2. Sei de cabeça, mas não tenho um controle formal.</option>
          <option value="3">3. Sim, registro quanto tenho em estoque e faço seu controle periodicamente.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.finance.question7a.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 8 – Tema Finanças – Controle de Resultados (Se deseja maiores informações)</h4>
  <div class="field">
    <label>Respostas Pela Percepção do Empresário:</label>
    <select class="ui fluid dropdown" ng-model="data.finance.question8.self">
      <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
      <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
      <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
      <option value="4">4. Manter. Totalmente satisfeito.</option>
    </select>
  </div>
</div>