<h4 class="ui dividing header">Mercado</h4>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 9 – Características dos Clientes</h4>
  <div class="field">
    <label>Pergunta: a) Sua empresa tem um cadastro com informações de seus clientes em algum lugar? (Cadastro de Clientes)</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.market.question9a.agent">
          <option value="1">1. Não, não tenho um cadastro de clientes.</option>
          <option value="2">2. Tenho um cadastro de clientes, mas não faço uso dele.</option>
          <option value="3">3. Sim, possuo cadastro de clientes que me auxilia na comunicação com os fregueses.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.market.question9a.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div> 

  <div class="field">
    <label>Pergunta: b) A empresa sabe quais são os diferentes grupos de clientes que frequentam seu estabelecimento e faz ações direcionadas a cada um destes grupos? (Segmentação de Clientes)</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.market.question9b.agent">
          <option value="1">1. Não sei quais são os grupos de clientes que frequentam meu estabelecimento.</option>
          <option value="2">2. Conheço alguns grupos, mas não faço ações direcionadas.</option>
          <option value="3">3. Conheço os grupos que frequentam, e faço ações direcionadas a cada um deles.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.market.question9b.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label>Pergunta: c) Você analisa regulamente as necessidades dos clientes para orientas suas ações de marketing e definição de serviços e produtos? (Análise das Necessidades dos Clientes)</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.market.question9c.agent">
          <option value="1">1. Não faço esta análise regularmente.</option>
          <option value="2">2. Eu converso com meus clientes, mas não faço uma análise regularmente ou não uso esta informação sistematicamente.</option>
          <option value="3">3. Sim, busco periodicamente as necessidades dos meus clientes e uso estas informações para melhorar meus produtos/serviços.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.market.question9c.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 10 – Satisfação dos Clientes</h4>
  <div class="field">
    <label>Pergunta: a) Você faz alguma pesquisa para saber a satisfação dos clientes? (Pesquisa de Satisfação).</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.market.question10a.agent">
          <option value="1">1. Não faço pesquisa.</option>
          <option value="2">2. Faço pesquisa. Mas não a utilizo para melhorar a empresa.</option>
          <option value="3">3. Sim, realizo uma pesquisa de satisfação e utilizo as respostas para melhorar meu negócio.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.market.question10a.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 11 – Divulgação</h4>
  <div class="field">
    <label>Pergunta: a) Você planeja ações para promover e divulgar seus produtos e serviços? (Plano de Promoção)</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.market.question11a.agent">
          <option value="1">1. Não tenho ações planejadas para promover ou divulgar o produto ou serviço.</option>
          <option value="2">2. Tenho algumas ações planejadas, mas a maioria vou pensando e fazendo sem um plano.</option>
          <option value="3">3. Realizo ações promocionais de maneira planejada e controlo os resultados de cada ação.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.market.question11a.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 12 – Lançamento de Produtos e Serviços</h4>
  <div class="field">
    <label>Pergunta: a) Sua empresa oferta novos produtos/serviços para seus clientes? (Observar critérios para escolha dos produtos e teste dos produtos novos) (Ofertando Novos Produtos/Serviços).</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.market.question12a.agent">
          <option value="1">1. Não, oferto sempre os mesmos produtos.</option>
          <option value="2">2. Oferto novos produtos ocasionalmente, somente quando vejo que meu negócio está parado no tempo.</option>
          <option value="3">3. Sim, oferto novos produtos/serviços, tenho critério para o lançamento e os testos por um tempo.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.market.question12a.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 13 – Concorrentes </h4>
  <div class="field">
    <label>Pergunta: a) Você avalia seus concorrentes para saber o que deve melhoras? (Entendimento do Mercado)</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.market.question13a.agent">
          <option value="1">1. Não, não analiso meus concorrentes.</option>
          <option value="2">2. Tenho alguma noção de como meus concorrentes atuam e se diferenciam de mim.</option>
          <option value="3">3. Sim, sei no que sou pior e melhor do que meus concorrentes e realizo ações para melhorar.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.market.question13a.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 14 – Tema Mercado – Avaliação das Necessidades Atendidas pela Empresa (Se deseja maiores informações)</h4>
  <div class="field">
    <label>Respostas Pela Percepção do Empresário:</label>
    <select class="ui fluid dropdown" ng-model="data.market.question14.self">
      <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
      <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
      <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
      <option value="4">4. Manter. Totalmente satisfeito.</option>
    </select>
  </div>
</div>