<h4 class="ui dividing header">Organização</h4>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 18 – Gestão dos Fornecedores </h4>
  <div class="field">
    <label>Pergunta: a) Você possui um controle de quem são os fornecedores de seus produtos e prestadores de serviço, facilitando sua pesquisa de preço? (Cadastro de Fornecedores)</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.organization.question18a.agent">
          <option value="1">1. Não tenho controle, sei isso de cabeça.</option>
          <option value="2">2. Tenho informações de meus fornecedores, espalhadas em agendas e não detalhadas.</option>
          <option value="3">3. Sim, possuo uma planilha ou caderno dos fornecedores, que acesso quando compro algum produto ou serviços.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.organization.question18a.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 19 – Padronização e Agilidade</h4>
  <div class="field">
    <label>Pergunta: a) Os documentos importantes de suas empresas e contas estão bem organizados? (Organização de Documentos)</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.organization.question19a.agent">
          <option value="1">1. Não estão bem organizados, demoro muito tempo para encontrar qualquer documento.</option>
          <option value="2">2. Estão até organizados, mas mesmo assim ainda demoro para encontrar.</option>
          <option value="3">3. Organizo meus documentos e isto me permite trabalhar de modo ágil.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.organization.question19a.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label>Pergunta: b) As atividades realizadas regularmente possuem um procedimento escrito  de como elas devem ser feitas?</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.organization.question19b.agent">
          <option value="1">1. Não, não possuo um procedimento padrão formalizado.</option>
          <option value="2">2. Tenho check-list(s) de algumas tarefas, porém não há um responsável definido.</option>
          <option value="3">3. Sim, tenho procedimentos escritos para as principais atividades do meu negócio, com responsáveis definidos.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.organization.question19b.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label>Pergunta: c) A organização da sua empresa permite que você trabalhe de maneira eficiente e ágil?</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.organization.question19c.agent">
          <option value="1">1. Não consigo trabalhar de maneira eficiente e ágil.</option>
          <option value="2">2. Consigo trabalha eficientemente, porém frequentemente a desorganização.</option>
          <option value="3">3. Consigo trabalhar de maneira eficiente e ágil sempre. </option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.organization.question19c.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 20 – Layout</h4>
  <div class="field">
    <label>Pergunta: a) Sua empresa possui um layout (arranjo físico) definido para facilitar a entrega do produto serviço, comercialização e atendimentos aos clientes?</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.organization.question20a.agent">
          <option value="1">1. Não, o layout não é organizado.</option>
          <option value="2">2. Algumas coisas na empresa estão organizadas, porém há móveis/mercadorias/máquinas que estão em locais inadequados.</option>
          <option value="3">3. Sim, possuo um layout definido que facilita o fluxo de pessoas e materiais.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.organization.question20a.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 21 – Tema Organização (Se deseja maiores informações)</h4>
  <div class="field">
    <label>Respostas Pela Percepção do Empresário:</label>
    <select class="ui fluid dropdown" ng-model="data.organization.question21.self">
      <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
      <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
      <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
      <option value="4">4. Manter. Totalmente satisfeito.</option>
    </select>
  </div>
</div>