<h4 class="ui dividing header">Dados da Proprietário</h4>
<div class="two fields">
  <div class="field">
    <label>Data de Nascimento ({{calculateAge(data.owner.birthdate)}} anos)</label>
    <input type="text" name="birthdate" placeholder="Data de Nascimento" class="mask date" ng-model="data.owner.birthdate">
  </div>
  <div class="field">
    <label>Sexo</label>
    <select class="ui fluid dropdown" ng-model="data.owner.gender">
      <option value="female">Feminino</option>
      <option value="male">Masculino</option>
    </select>
  </div>
</div>

<div class="field">
  <label>Escolaridade</label>
  <select class="ui fluid dropdown" ng-model="data.owner.education">
    <option value="iliterate">Analfabeto</option>
    <option value="elementary_school_incomplete">Ensino Fundamental Incompleto</option>
    <option value="elementary_school_complete">Ensino Fundamental Completo</option>
    <option value="high_school_incomplete">Ensino Médio Incompleto</option>
    <option value="high_school_complete">Ensino Médio Completo</option>
    <option value="college_incomplete">Superior Incompleto</option>
    <option value="college_complete">Superior Completo</option>
    <option value="specialization">Especialização</option>
    <option value="master">Mestrado</option>
    <option value="doctorate">Doutorado</option>
  </select>
</div>