<h4 class="ui dividing header">Pessoas</h4>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 22 – Legislação</h4>
  <div class="field">
    <label>Pergunta: a) Você sabe quais são as obrigações trabalhista de sua empresa, da contratação até o desligamento? E em relação a você, sabe o que fazer para se aposentar com tranquilidade? (Orientações Quanto às Obrigações Trabalhistas)</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.people.question22a.agent">
          <option value="1">1. Não conheço as obrigações trabalhistas e não sei o que fazer quanto à minha aposentadoria.</option>
          <option value="2">2. Tenho pouco conhecimento sobre relações trabalhistas e minha aposentadoria, mas tenho dúvidas.</option>
          <option value="3">3. Sim, tenho domínio sobre as obrigações trabalhistas e também sobre a minha aposentadoria.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.people.question22a.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 23 – Desenvolvimento da Equipe</h4>
  <div class="field">
    <label>Pergunta: a) Você já definiu que conhecimentos e características as pessoas devem ter para realizar as atividades em sua empresa, incluindo você e sócios? (Conhecimentos e Características)</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.people.question23a.agent">
          <option value="1">1. Nunca defini.</option>
          <option value="2">2. Tenho uma noção dos conhecimentos e características necessários, mas não utilizei isto para contratar as pessoas.</option>
          <option value="3">3. Sim, tenho registrado quais são os conhecimentos e características necessárias para realizar as atividades e uso isto para a contratação das pessoas.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.people.question23a.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div> 

  <div class="field">
    <label>Pergunta: b) Se você, seu sócio ou algum funcionário faltar ou tirar férias, está definido um responsável para ficar no lugar desta pessoa? (Matriz de Responsabilidade)</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.people.question23b.agent">
          <option value="1">1. Não, se alguém faltar o negócio não funciona.</option>
          <option value="2">2. Em alguns casos sim, mas se algumas pessoas faltarem a empresa não tem que saiba fazer aquela atividade.</option>
          <option value="3">3. Se alguém faltar, sabemos quem deve assumir a responsabilidade e esta pessoa estará capacitada a isso.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.people.question23b.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label>Pergunta: c) Você faz uma avaliação dos problemas recorrentes ou potenciais em seu negócio, visando evitar que os mesmos ocorram? (Treinamento Baseado em Problemas)</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.people.question23c.agent">
          <option value="1">1. Não faço esta avaliação.</option>
          <option value="2">2. Faço esta avaliação, mas não treino as pessoas com base nisso.</option>
          <option value="3">3. Faço esta avaliação e treino as pessoas para evitar que o problema ocorra ou volte a acontecer.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.people.question23c.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label>Pergunta: d) Se for necessário delegar alguma atividade (por motivo de doença, expansão, etc.), você já sabe quais são as atividades que pode se delegar? (Pensando em Expandir? Prepare-se para delegar)</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.people.question23d.agent">
          <option value="1">1. Não sei quais atividades posso delegar.</option>
          <option value="2">2. Costumo realizar as principais atividades da empresa, e tenho funcionários que podem executá-las e delego-as para eles.</option>
          <option value="3">3. Sim, delego atividades para que meus funcionários realizem sem minha presença, investindo meu tempo o que é mais importante para o negócio.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.people.question23d.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div> 
</div>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 24 – Tema Gestão de Pessoas</h4>
  <div class="field">
    <label>Respostas Pela Percepção do Empresário:</label>
    <select class="ui fluid dropdown" ng-model="data.people.question24.self">
      <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
      <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
      <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
      <option value="4">4. Manter. Totalmente satisfeito.</option>
    </select>
  </div>
</div> 