<h4 class="ui dividing header">Planejamento</h4>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 15 – Plano de Negócio</h4>
  <div class="field">
    <label>Pergunta: a) Você planeja os objetivos que deseja alcançar, tendo alguma forma de registro de onde chegar? (Planejamento: O Primeiro Passo para o Sucesso)</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.planning.question15a.agent">
          <option value="1">1. Não, vou tocando o negócio sem planejar o futuro.</option>
          <option value="2">2. Planejo na minha cabeça algumas coisas, porém não acho necessário definir como vou alcançar os objetivos.</option>
          <option value="3">3. Sim, entendo a importância de planejar para ser bem sucedido e defino ações para conseguir chegar onde quero.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.planning.question15a.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div> 

  <div class="field">
    <label>Pergunta: b) Você tem seus objetivos e matas escritos e bem definidos? (Planejando o Negócio: Objetivos e Metas)</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.planning.question15b.agent">
          <option value="1">1. Não tenho objetivos e metas definidas.</option>
          <option value="2">2. Tenho alguns objetivos, mas não tenho metas específicas.</option>
          <option value="3">3. Sim, planejo meu negócio e defino objetivos e metas de forma clara e consistente.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.planning.question15b.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label>Pergunta: c) Você toma nota das decisões e resultados de seu planejamento, observando situações em que houve resultados diferentes dos que você queria, para aprimorar o que deu certo e não repetir erros do passado?</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.planning.question15c.agent">
          <option value="1">1. Não faço esta reflexão.</option>
          <option value="2">2. Até paro para pensar nisto, mas nunca coloquei tudo isso no papel.</option>
          <option value="3">3. Sim, comparo as decisões que tomei e os resultados que eu esperava com o que realmente fiz e alcancei. </option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.planning.question15c.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 16 – Ações de Curto e Médio Prazo </h4>
  <div class="field">
    <label>Pergunta: a) Existem ações com prazos definidos para que os objetivos planejados pela empresa para o futuro possam ser alcançados? (Plano de Ação de Curto e Médio Prazo)</label>
    <div class="two fields">
      <div class="field">
        <label>Respostas Prováveis (Percepção do Agente):</label>
        <select class="ui fluid dropdown" ng-model="data.planning.question16a.agent">
          <option value="1">1. Não tenho ações com prazos definidos.</option>
          <option value="2">2. Sei onde quero chegar, mas não sei quais e quando as ações devem ser tomadas para atingir meus objetivos.</option>
          <option value="3">3. Sim, defino o que e como deve ser feito para a empresa atingir os objetivos planejados previamente.</option>
        </select>
      </div>
      <div class="field">
        <label>Respostas Pela Percepção do Empresário:</label>
        <select class="ui fluid dropdown" ng-model="data.planning.question16a.self">
          <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
          <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
          <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
          <option value="4">4. Manter. Totalmente satisfeito.</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <h4 class="ui dividing header">Quesito: 17 – Tema Planejamento – Visão de Longo Prazo (Se deseja maiores informações)</h4>
  <div class="field">
    <label>Respostas Pela Percepção do Empresário:</label>
    <select class="ui fluid dropdown" ng-model="data.planning.question17.self">
      <option value="1">1. Melhorar com urgência. Nada satisfeito.</option>
      <option value="2">2. Preciso melhorar. Pouco satisfeito.</option>
      <option value="3">3. Posso aprimorar. Bastante satisfeito.</option>
      <option value="4">4. Manter. Totalmente satisfeito.</option>
    </select>
  </div>
</div>