body {
	background: -webkit-linear-gradient(top, #3f4c6b 0%,#3f4c6b 100%);
}

.topMenu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	background-color: #1b1c1d;
    -webkit-app-region: drag;
}

.topMenu .right.menu {
    -webkit-app-region: no-drag;
}

.sideMenu {
	position: fixed;
	top: 45px;
	left: 0;
	width: 210px;
	bottom: 0;
	background-color: #1b1c1d;
}

.contentContainer {
	position: absolute;
	top: 45px;
	left: 210px;
	right: 0;
	bottom: 0;
	overflow: auto;
}

.contentContainerInner {
	padding: 50px;
}

#mapContainer .active {
	fill: blue !important;
}