<div class="ui container contentContainerInner">
	<div class="ui two column middle aligned very relaxed stackable grid">
	  <div class="center aligned column">
	    <div>
		  <button class="huge ui icon button" ng-click="exportDialog();">
		    <i class="file archive outline icon"></i>
		    Exportar Tudo
		  </button>
		</div>
	  </div>
	  <div class="ui vertical divider">
	    Ou
	  </div>
	  <div class="center aligned column">
	    <div>
		  <button for="file" class="huge ui icon button" ng-click="importDialog();">
		    <i class="file icon"></i>
		    Importar Arquivo
		  </button>
		</div>
	  </div>
	</div>
</div>