<div class="ui container contentContainerInner">
  <div class="ui dimmable segment">
    <div class="ui inverted dimmer loadingIndicator">
      <div class="ui active text loader">Loading</div>
    </div>
    <form id="form" class="ui form">
      <div class="ui segment" ui-view="companyData"></div>
      <div class="ui segment" ui-view="ownerData"></div>
      <div class="ui segment" ui-view="businessExperience"></div>
      <div class="ui segment" ui-view="financeData"></div>
      <div class="ui segment" ui-view="marketData"></div>
      <div class="ui segment" ui-view="planningData"></div>
      <div class="ui segment" ui-view="organizationData"></div>
      <div class="ui segment" ui-view="peopleData"></div>

	    <div class="ui blue submit button">Salvar</div>
	    <div class="ui right floated red inverted button" ng-show="data._id" ng-click="delete();">Deletar</div>
      
      <div class="ui error message"></div>
    </form>
  </div>
</div>