<div class="ui container contentContainerInner">
  <div class="ui segment">
  	<form class="ui form">
      <div class="two fields">
      	<div class="field">
          <label>Em relação a:</label>
          <select name="keyField" class="ui fluid dropdown" ng-model="keyField" ng-options="field as field.fieldName for field in keyFieldOptions track by field.fieldName" />
        </div>
        <div class="field">
          <label>Exibir:</label>
          <select name="valueFields" multiple="" class="ui fluid dropdown" ng-model="valueFields">
			<option ng-repeat="fieldName in valueFieldOptions" value="{{fieldName}}">
			  {{fieldName}}
			</option>
	      </select>
        </div>
      </div>
      <div class="ui button" ng-click="plotChart();">Executar</div>
    </form>
  </div>

  <div class="ui segment">
  	<canvas id="reportChart" width="100%" height="400"></canvas>
  </div>
</div>