<div class="ui container contentContainerInner">
  <div class="ui segment">
    <form class="ui form">
      <div class="two fields">
        <div class="field">
          <label>CNPJ</label>
          <input type="text" name="cnpj" class="mask cnpj" ng-model="searchTerms.cnpj" placeholder="CNPJ">
        </div>
        <div class="field">
          <label>Razão Social</label>
          <input type="text" name="name" ng-model="searchTerms.name" placeholder="Razão Social" capitalize>
        </div>
      </div>
      <div class="ui button" ng-click="doSearch();">Buscar</div>
    </form>
  </div>

  <div class="ui dimmable resultTable" ng-show="totalPages > 0">
    <div class="ui inverted dimmer loadingIndicator">
      <div class="ui active text loader">Loading</div>
    </div>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>CNPJ</th>
          <th>Razão Social</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="result in searchResults">
          <td><a ui-sref="editForm({id: result._id})">{{result.company.cnpj}}</a></td>
          <td>{{result.company.name}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="2">
            <div class="ui right floated pagination menu">
              <a class="icon item" ng-class="currentPage === 1 ? 'disabled' : ''" ng-click="prevPage();">
                <i class="left chevron icon"></i>
              </a>
              <div class="disabled item" ng-show="currentPage > (pageRangeToDisplay + 1)">
                ...
              </div>
              <a class="item" ng-class="currentPage === pageIndex ? 'active' : ''" ng-repeat="pageIndex in getPageArrayRange()" ng-click="updatePage(pageIndex);">
                {{pageIndex}}
              </a>
              <div class="disabled item" ng-show="currentPage < (totalPages - pageRangeToDisplay)">
                ...
              </div>
              <a class="icon item" ng-class="currentPage === totalPages ? 'disabled' : ''" ng-click="nextPage();">
                <i class="right chevron icon"></i>
              </a>
            </div>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>